@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap");

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Spartan", sans-serif;
}

.gurbani {
  display: none;
  text-align: center;
  max-width: 800px;
}

#translation {
  opacity: 0.6;
}

#ang {
  color: #555;
  text-align: center;
  flex-grow: 1;
}

#icon {
  width: 48px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.3;
  transition: 0.2s all ease;
  cursor: pointer;
}

#icon:hover {
  opacity: 1;
}
